 <div class="navBar">
      <h4>LOGO/Header</h4>
      <a href="/">Login</a>
    </div>

    <div class="container">
      <h1>CANDIDATE REGISTERED SUCCESSFULLY</h1>
      <a href="#"><i class="fa fa-check-square-o fa-3x icon" aria-hidden="true"></i> </a>
      <br>
      <br>
      <h5>Username: {{username}}</h5>
      <h5>Password: {{password}}</h5>
      <br>
      <br>
      <h4>DO WELL TO KEEP YOUR CREDENTIALS SAFE!!!</h4>
    </div>

    <footer></footer>